/*CSS RESETS*/
*,
*::before,
*::after {
  /*Reset box-sizing model*/
  box-sizing: border-box;
}

* {
  /*Remove default margin*/
  margin: 0;
}

body {
  /*Assessible line-height*/
  line-height: 1.5;


  /*Improve text rendering*/
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  /*Remove built-in typography styles*/
  font: inherit;
}




:root {
  --debug-color: #f000;
  --bg-color: #89ccbb;
  --primary-color: #0c9;
  --clickable-highlight-color: #00664e;
}


body {
  background-color: var(--bg-color);
  columns: 72px 12;
  column-gap: 24;
  max-width: calc(((72 * 12) + (24 * 11)) * 1px);
  margin: 0 auto;
  font-size: 18px;
}



h1 {
  margin-top: 36px;
  text-align: center;
  font-size: 3em;
  column-span: all;
  margin-bottom: 36px;
  opacity: 0.9;
}


#project-container {
  border: 0px solid black;
  column-span: all;
  padding: 2em;
  background-color: white;
  background-image: url('./images/paper.png');
  background-blend-mode: luminosity;
  background-size: 33%;
  box-shadow: 1px 1px 16px #000a;
  margin-bottom: 72px;
}

#project-container * {
  opacity: 0.9;
}


.clickable {
  background-color: unset;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 16px;
}


.clickable:hover {
  color: var(--clickable-highlight-color);
}


.textfield {
  padding: 8px 16px;
  border: none;
  background-color: unset;
  outline: 1px dashed black;
}

.textfield:focus {
  outline: 1px dashed black;
}


.project-title {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: unset;
}

.project {
  margin-bottom: 144px;
}


.task-group-title {
  display: block;
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  text-transform: unset;
}

.task-group {
  display: flex;
}


.task {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.task-title {
  font-family: 'Courier New', Courier, monospace;
  text-transform: unset;
}


.task-group-title-container,
.task-group-task-container {
  display: flex;
  flex-direction: column;
}

.task-group-title-container {
  flex: 4;
  padding-right: 15px;
}

.task-group-task-container {
  flex: 8;
  border-left: 1px solid black;
  padding-left: 16px;
}

.divider {
  font-size: 0.5px;
  background-color: black;
  margin-top: 15.25px;
  margin-bottom: 15.25px;
}


.rename-container {
  display: flex;
  gap: 16px;
  align-items: center;
}


.new-buttons-container {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}


.task-controls-container {
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
}


.paper-texture {
  background-color: red;
  position: relative;
  width: 100%;
  height: 100%;
}